@page "/Contents/Wordpress/Edit/{contentId:int}"

@attribute [Authorize]

@inject NavigationManager NavigationManager
@using ContentNetworkSystem.Data
@using ContentNetworkSystem.Models
@inject IContentsService contentsService
@inject EncryptionService encryptionService;

<h3>Edit Content</h3>
<hr />
@if (contentModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="@contentModel" OnValidSubmit="HandleValidSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label>
                        Content Name:
                        <InputText class="form-control" id="name" @bind-Value="contentModel.Name" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Url:
                        <InputText class="form-control" id="url" @bind-Value="contentModel.Url" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        TypeName:
                        <input class="form-control" id="typename" Value="@contentModel.TypeName" disabled />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        TextGenerationCategoryId:
                        <InputNumber class="form-control" id="TextGenerationCategoryId" @bind-Value="contentModel.TextGenerationCategoryId" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Username:
                        <InputText class="form-control" id="Username" @bind-Value="contentModel.Username" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Password:
                        <InputText type="password"  class="form-control" id="Password" @bind-Value="password" />
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Blog Id:
                        <InputNumber class="form-control" id="BlogId" @bind-Value="contentModel.BlogId" />
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <button class="btn btn-danger" type="button" @onclick="NavigateToProject">Cancel</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [Parameter]
    public int ContentId { get; set; }

    private Wordpress contentModel;
    private string password="";

    protected override async Task OnInitializedAsync()
    {
        contentModel = (Wordpress) await contentsService.GetAsync(ContentId);
        try
        {
            password = encryptionService.DecryptString(contentModel.Password);
        }
        catch
        {
            Console.WriteLine("error decrypting password");
        }
    }

    private async Task HandleValidSubmitAsync()
    {
        Console.WriteLine("OnValidSubmit");
        contentModel.Password = encryptionService.EncryptString(password);
        await contentsService.UpdateAsync(contentModel);
        NavigationManager.NavigateTo("Projects/Index");
    }

    private void NavigateToProject()
    {
        NavigationManager.NavigateTo("Projects/Edit/" + contentModel.ProjectId);
    }
}

