@page "/Contents/Details/{contentId:int}"

@attribute [Authorize]

@inject NavigationManager NavigationManager
@using ContentNetworkSystem.Data
@using ContentNetworkSystem.Models
@inject IContentsService contentsService

<h3>Content Details</h3>
<hr />
@if (contentModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <di>
        <div class="row">
            @foreach (var property in contentModel.GetType().GetProperties())
            {
                <dt class="col-sm-2">
                    @property.Name
                </dt>
                <dd class="col-sm-10"> 
                    @property.GetValue(contentModel) 
                </dd>
            }
        </div>
    </di>
    <button class="btn btn-primary" type="button" @onclick="NavigateToProject">Go Back</button>
}

@code {
    [Parameter]
    public int ContentId { get; set; }

    private Content contentModel;

    protected override async Task OnInitializedAsync()
    {
        contentModel = await contentsService.GetAsync(ContentId);
    } 

    private void NavigateToProject()
    {
        NavigationManager.NavigateTo("Projects/Index");
    }
}

